.products-of-week {
  overflow-x: hidden;

  &--offset {
    padding-top: 65px;

    @include max-width($md) {
      padding-top: 30px;
    }
  }

  &__wrapper {
    margin-bottom: 147px;
  }

  &__title {
    padding-bottom: 27px;
  }
}

.products-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;

  @include max-width($xl) {
    justify-content: center;
  }

  &__item {
    position: relative;
    width: 270px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-bottom: 40px;
    margin-right: 30px; 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item--active .user-interact {
    opacity: 1;
  }

  &__card {
    padding-top: 27px;
    padding-bottom: 34px;
  }
}

.top-products {
  display: flex;
  justify-content: space-between;

  @include max-width($xl) {
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;

    @include max-width($xl) {
      width: 100%;
    } 
  }

  &__item:first-child {
    margin-right: 30px;

    @include max-width($xl) {
      margin-right: 0;
      margin-bottom: 150px;
    } 
  }
}

.top-product {
  background-color: $bg-color;
  
  display: flex;
  justify-content: flex-end;
  position: relative;

  @include max-width($md) {
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 487px;
    padding-top: 100px;
    padding-bottom: 64px;

    @include max-width($md) {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 26px;
    max-width: 240px;
    margin-bottom: 18px;
    @include truncate-multiline-text(2);

    @include max-width($md) {
      margin: 0 auto 20px auto;
    }
  }

  &__description {
    @include font('Rubik', 400);
    line-height: 1.7;
    margin-bottom: 30px;
    max-width: 335px;
    @include truncate-multiline-text(2);

    @include max-width($md) {
      margin: 0 auto 20px auto;
    }
  }

  &__image {
    margin-top: -100px;
    margin-right: 13px;
    @include fixed-image-size(233px, 405px, contain);
  }

  &__link {
    position: relative;
    color: #4f6c79;
    padding: 18px 40px 18px 18px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    @include truncate-text(180px);

    @include max-width($md) {
      margin: 0 auto;
      padding: 18px;
    }

    & .arrow-right {
      @include max-width($md) {
        display: none;
      } 
    }

    &:focus {
      border: 1px solid #353837;
      background-color: #fa9843;
      color: #fff;
    }

    &:hover {
      border: 1px solid #969c99;
      background-color: #f9ae6c;
      color: #fff;
    }

    &:active {
      border: 1px solid #3e4240;
      background-color: #f8a054;
      color: #fff;
    }
  }
}


