.new-design {
  &--offset {
    padding-top: 98px;
    padding-bottom: 86px;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -36px;
  }

  &__item {
    position: relative;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 35px;
  }

  &__content {
    padding: 37px 0 0 37px;
  }
}

.new-design-card {
  position: relative;
  height: 100%;

  &__name {
    @include truncate-multiline-text(2);
    margin-bottom: 12px;
    max-width: 175px;
    font-size: 20px;
    color: $color-6;
  }

  &__style {
    @include truncate-text(60px);
    color: $color-3;
    font-size: 16px;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  &__image {
    margin: -55px 0 0 auto;
    @include fixed-image-size(271px, 180px, contain);
  }

  &__image--shifted {
    margin: -62px 55px 0 auto;
    @include fixed-image-size(112px, 143px, contain);
  }
}