<section class="new-design new-design--offset">
  <div class="container">
    <h2 class="title new-design__title">New Design</h2>

    <ul class="product-filter">
  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter="all">All</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-furnitures">Furnitures</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-chairs">Chairs</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-lighting">Lighting</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-decor">Decor</button>
  </li>
</ul>

    <ul class="new-design__list">
      <li class="new-design__item mix product-furnitures">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Beat Flat Pendant Black</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image " src=../../../images/main-page/new-design/1.png alt="New design image">
</article>
      </li>
      <li class="new-design__item mix product-lighting">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Lampe Sur Pieds Bamboo</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image " src=../../../images/main-page/new-design/2.png alt="New design image">
</article>
      </li>
      <li class="new-design__item mix product-furnitures">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Rattan Rocking Chair</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image new-design-card__image--shifted" src=../../../images/main-page/new-design/3.png alt="New design image">
</article>
      </li>
      <li class="new-design__item mix product-decor">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Rattan Rocking Chair</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image " src=../../../images/main-page/new-design/4.png alt="New design image">
</article>
      </li>
      <li class="new-design__item mix product-decor">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Rattan Rocking Chair</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image new-design-card__image--shifted" src=../../../images/main-page/new-design/5.png alt="New design image">
</article>
      </li>
      <li class="new-design__item mix product-chairs">
        <article class="new-design-card new-design__content">
  <a class="new-design-card__link" href="#"></a>
  <h3 class="new-design-card__name">Lampe Sur Pieds Bamboo</h3>
  <span class="new-design-card__style">Classic</span>
  <img class="new-design-card__image " src=../../../images/main-page/new-design/6.png alt="New design image">
</article>
      </li>
    </ul>
  </div>
</section>