<section class="new-design new-design--offset">
  <h2 class="title">New Design</h2>
  <div class="container">
    <ul class="new-design-gallery">
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Beat Flat Pendant Black',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/1.png'
        }) 
      </li>
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Lampe Sur Pieds Bamboo',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/2.png'
        }) 
      </li>
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Rattan Rocking Chair',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/3.png'
        }) 
      </li>
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Rattan Rocking Chair',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/4.png'
        }) 
      </li>
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Rattan Rocking Chair',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/5.png'
        }) 
      </li>
      <li class="new-design-gallery__item">
        @@include('new-design-card.html', {
          'name': 'Lampe Sur Pieds Bamboo',
          'style': 'Classic',
          'imagePath': '../../../images/main-page/new-design/6.png'
        }) 
      </li>
    </ul>
  </div>
  <!-- -->


  

</section>