<div class="container container--large">
  <ul class="product-slider">
    <li class="product-slider__item">
      <div class="container">
  <div class="product-slider__wrapper ">
    <div class="product-slider__content">
      <div class="product-slider__title">
        <p>Smart and trendy</p>
      </div>
      <div class="product-slider__description">
        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <a class="product-slider__link arrow-link" href="#">
        <span class="arrow-link__text">Shop Now</span>
        <svg class="arrow-right arrow-right--light">
          <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="product-slider__image-wrapper">
      <img class="product-slider__image" src=images/slider/sofa.png alt="Slider image">
    </div>
  </div>
</div>
    </li>
    <li class="product-slider__item">
      <div class="container">
  <div class="product-slider__wrapper ">
    <div class="product-slider__content">
      <div class="product-slider__title">
        <p>Smart and trendy</p>
      </div>
      <div class="product-slider__description">
        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <a class="product-slider__link arrow-link" href="#">
        <span class="arrow-link__text">Shop Now</span>
        <svg class="arrow-right arrow-right--light">
          <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="product-slider__image-wrapper">
      <img class="product-slider__image" src=images/slider/sofa.png alt="Slider image">
    </div>
  </div>
</div>
    </li>
    <li class="product-slider__item">
      <div class="container">
  <div class="product-slider__wrapper ">
    <div class="product-slider__content">
      <div class="product-slider__title">
        <p>Smart and trendy</p>
      </div>
      <div class="product-slider__description">
        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      <a class="product-slider__link arrow-link" href="#">
        <span class="arrow-link__text">Shop Now</span>
        <svg class="arrow-right arrow-right--light">
          <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="product-slider__image-wrapper">
      <img class="product-slider__image" src=images/slider/sofa.png alt="Slider image">
    </div>
  </div>
</div>
    </li>
  </ul>
</div>