<li class="product-slider__item"">
  <div class="product-slider__wrapper container">
    <div class="product-slider__content">
      <div class="product-slider__title">
        <p>
          @@title
        </p>
      </div>
      <div class="product-slider__description">
        <p>
          @@description
        </p>
      </div>
      <a class="product-slider__link" href="#">
        Shop Now
      </a>
    </div>
    <picture class="product-slider__picture">
      <img class="product-slider__image" src=@@imagePath alt="Slider image">
    </picture>
  </div>
</li>