<div class="container container--large">
  <ul class="product-slider">
    <li class="product-slider__item">
      @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
      })
    </li>
    <li class="product-slider__item">
      @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
      })
    </li>
    <li class="product-slider__item">
      @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
      })
    </li>
  </ul>
</div>