<div class="container">
  <div class="product-slider__wrapper ">
    <div class="product-slider__content">
      <div class="product-slider__title">
        <p>@@title</p>
      </div>
      <div class="product-slider__description">
        <p>@@description</p>
      </div>
      <a class="product-slider__link arrow-link" href="#">
        <span class="arrow-link__text">Shop Now</span>
        <svg class="arrow-right arrow-right--light">
          <use xlink:href="@@webRoot/images/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <div class="product-slider__image-wrapper">
      <img class="product-slider__image" src=@@imagePath alt="Slider image">
    </div>
  </div>
</div>