<div class="container container--large">
  <ul class="product-slider">
    <li class="product-slider__item">
      <div class="container">
        @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
        })
      </div>
    </li>

    <li class="product-slider__item">
      <div class="container">
        @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
        })
      </div>
    </li>

    <li class="product-slider__item">
      <div class="container">
        @@include('product-slider-item.html', {
        'title': 'Smart and trendy',
        'description': 'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt',
        'imagePath': 'images/slider/sofa.png'
        })
      </div>
    </li>
  </ul>
</div>