<section class="insights">
  <div class="container">
    <div class="insights__title-wrapper">
      <h2 class="title insights__title title--left">Our Insights & Articles</h2>

      <div class="view-all">
        <a class="view-all__link" href="#">
          <div class="view-all__wrapper">
            <span class="view-all__text">View All</span>
            <svg class="view-all__icon">
              <use xlink:href="../../../images/sprite.svg#view-all-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="insights-gallery">
    <div class="container">
      <ul class="insight-cards">
        <li class="insight-cards__item">
          <article class="insight-card">
  <h3 class="sr-only">Insight card</h3>
  <a class="insight-card__link" href="#">
    <img class="insight-card__image" src=../../../images/main-page/insights/1.jpg alt="Insight card image">
  </a>

  <div class="insight-card__content">
    <a class="insight-card__news" href="#">News</a>
    <div class="insight-card__description">
      <p>Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>
    
    <div class="insight-card__signature">
      <div class="insight-card__date-wrapper">
        <span class="sr-only">Calendar icon</span>
        <svg class="calendar-icon">
          <use xlink:href="../../../images/sprite.svg#calendar"></use>
        </svg>
        <time class="insight-card__date" datetime="1970-01-01 00:00:01">28 SEPTEMBER, 2020</time>
      </div>

      <div class="insight-card__user-wrapper">
        <span class="sr-only">User icon</span>
        <svg class="user-icon">
          <use xlink:href="../../../images/sprite.svg#user"></use>
        </svg>
        <span class="insight-card__user">by admin</span>
      </div>
    </div>
  </div>
</article>
        </li>
        <li class="insight-cards__item">
          <article class="insight-card">
  <h3 class="sr-only">Insight card</h3>
  <a class="insight-card__link" href="#">
    <img class="insight-card__image" src=../../../images/main-page/insights/2.jpg alt="Insight card image">
  </a>

  <div class="insight-card__content">
    <a class="insight-card__news" href="#">News</a>
    <div class="insight-card__description">
      <p>Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </div>
    
    <div class="insight-card__signature">
      <div class="insight-card__date-wrapper">
        <span class="sr-only">Calendar icon</span>
        <svg class="calendar-icon">
          <use xlink:href="../../../images/sprite.svg#calendar"></use>
        </svg>
        <time class="insight-card__date" datetime="1970-01-01 00:00:01">28 SEPTEMBER, 2020</time>
      </div>

      <div class="insight-card__user-wrapper">
        <span class="sr-only">User icon</span>
        <svg class="user-icon">
          <use xlink:href="../../../images/sprite.svg#user"></use>
        </svg>
        <span class="insight-card__user">by admin</span>
      </div>
    </div>
  </div>
</article>
        </li>
        <li class="insight-cards__item">
          <article class="insight-card">
  <h3 class="sr-only">Insight card</h3>
  <a class="insight-card__link" href="#">
    <img class="insight-card__image" src=../../../images/main-page/insights/3.jpg alt="Insight card image">
  </a>

  <div class="insight-card__content">
    <a class="insight-card__news" href="#">News</a>
    <div class="insight-card__description">
      <p>Rncididunt ut labore et dolore magna aliqua. Ut enim</p>
    </div>
    
    <div class="insight-card__signature">
      <div class="insight-card__date-wrapper">
        <span class="sr-only">Calendar icon</span>
        <svg class="calendar-icon">
          <use xlink:href="../../../images/sprite.svg#calendar"></use>
        </svg>
        <time class="insight-card__date" datetime="1970-01-01 00:00:01">28 SEPTEMBER, 2020</time>
      </div>

      <div class="insight-card__user-wrapper">
        <span class="sr-only">User icon</span>
        <svg class="user-icon">
          <use xlink:href="../../../images/sprite.svg#user"></use>
        </svg>
        <span class="insight-card__user">by admin</span>
      </div>
    </div>
  </div>
</article>
        </li>
      </ul>
    </div>
  </div>
  
</section>