<!-- products-of-week -> products-week -->
<section class="products-of-week products-of-week--offset">
  <div class="products-of-week__wrapper">
    <div class="container">
      <h2 class="title products-of-week__title">Products of the week</h2>

      <ul class="product-filter">
  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter="all">All</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-furnitures">Furnitures</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-chairs">Chairs</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-lighting">Lighting</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=".product-decor">Decor</button>
  </li>
</ul>

      <ul class="products-gallery">
        <li class="products-gallery__item mix product-furnitures">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/1.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Wooden radio</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-lighting">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/2.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Wooden chair</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-furnitures">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/3.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">White chair</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-decor">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/4.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Retro table</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-decor">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/5.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Wooden radio</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-decor">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/6.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Wooden chair</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-chairs">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/7.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">White chair</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>

        <li class="products-gallery__item mix product-chairs">
          <!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=../../../images/products/8.png alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">Retro table</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">29.00</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="../../../images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="../../../images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="../../../images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>
        </li>
      </ul>
    </div>
  </div>

  <div class="container container--large">
    <ul class="top-products">
      <li class="top-products__item top-product">
  <img src=../../../images/main-page/top-product/1.png class="top-product__image" alt="Top product of the week image">
  <div class="top-product__wrapper">
    <h3 class="top-product__title">Mirum Notare Tellus</h3>
    <div class="top-product__description">
      <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
    </div>
    <a class="top-product__link" href="#">
      View More
      <span class="sr-only">Icon referenced link to all products</span>
      <svg class="arrow-right arrow-right--dark">
        <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</li>

      <li class="top-products__item top-product">
  <img src=../../../images/main-page/top-product/2.png class="top-product__image" alt="Top product of the week image">
  <div class="top-product__wrapper">
    <h3 class="top-product__title">Malesuada Tempor Euismod</h3>
    <div class="top-product__description">
      <p>50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight</p>
    </div>
    <a class="top-product__link" href="#">
      View More
      <span class="sr-only">Icon referenced link to all products</span>
      <svg class="arrow-right arrow-right--dark">
        <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</li>
    </ul>
  </div>
</section>