<li class="top-products__item top-product">
  <img src=@@imageSrc class="top-product__image" alt="Top product of the week image">
  <div class="top-product__wrapper">
    <h3 class="top-product__title">@@title</h3>
    <div class="top-product__description">
      <p>@@description</p>
    </div>
    <a class="top-product__link" href="#">
      View More
      <span class="sr-only">Icon referenced link to all products</span>
      <svg class="arrow-right arrow-right--dark">
        <use xlink:href="../../../images/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</li>