.partners {
  background-color: $bg-color-2;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 80px 85px 87px 50px;
  }

  &__image {
    @include fixed-image-size(120px, 80px, contain);
    margin: 0 auto;
  }
}