.feature {
  &__list {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color-2;

    @include max-width($lg) {
      flex-direction: column;
    }
  }

  &__wrapper {
    position: relative;
    max-width: 270px;
    margin: 0 auto;
    padding: 44px 0 39px 70px;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: -8px;
    }

    &--support::before {
      background-image: url('../images/icons/support.svg');
      width: 51px;
      height: 53px;
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
      width: 54px; //вынести к родителю, а у первого будет переопределен
      height: 36px;
    }

    &--payment::before {
      background-image: url('../images/icons/payment.svg');
      width: 54px; //вынести к родителю
      height: 52px;
    }
  }

  &__item {
    width: 100%;
    
    &:not(:last-child) {
      border-right: 1px solid #e8e4df;

      @include max-width($lg) {
        border-right: none;
        border-bottom: 1px solid #e8e4df;
      }
    }
  }

  &__heading {
    font-size: 18px;
    @include truncate-text(100%);
  }

  &__description {
    @include font('DMSans', 400, 16px);
    @include truncate-multiline-text(2);
    line-height: 2;
  }
}