<div class="feature">
  <div class="container container--large">
    <ul class="feature__list">
      @@include('feature-item.html', {
        'heading': 'Support 24/7.',
        'description': 'Contact us 24 hours a day, 7 days a week.',
        'modifierPrefix': 'support'
      })

      @@include('feature-item.html', {
        'heading': 'Delivery.',
        'description': 'Free shipping on all US order.',
        'modifierPrefix': 'delivery'
      })

      @@include('feature-item.html', {
        'heading': '100% Payment secure.',
        'description': 'We ensure secure payment with PEV.',
        'modifierPrefix': 'payment'
      })
    </ul>
  </div>
</div>