.footer {
  &__wrapper {
    display: flex;
    
    padding: 80px 0 60px;
    border-bottom: 1px solid #dae4e9;
    @include font('Rubik', 400, 14px, normal);
    line-height: 1.6;
    color: $footer-text-color;

    @include max-width($lg) {
      flex-wrap: wrap;
      padding: 30px 0;
    }
  }

  &__contacts {
    max-width: 215px;
    margin-right: 84px;
    float: left;
    font-style: normal;

    @include max-width($lg) {
      margin: 0 auto 20px auto;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 27px;
  }

  &__menu-wrapper {
    @include font('Rubik', 400, 14px);
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
  }

  &__menu-list {
    display: flex;

    @include max-width($md) {
      display: none;
    }
  }

  &__menu-item {
    @include truncate-text(80px);
    color: $footer-text-color;

    &:not(:last-child) {
      margin-right: 18px;
      padding-right: 10px;
      border-right: 2px solid $footer-text-color;
    }
  }

  &__menu-link {
    color: inherit;
  }

  &__link {
    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: #4d4c4c;
    }

    &:active {
      color: #000;
    }

    &:focus {
      color: #414040;
    }
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin: 0 auto;

    @include max-width($md) {
      flex-wrap: wrap;
    }
  }

  &__subscribe {
    margin: 0 auto;
  }
}

.links {
  &__list {
    width: 100%;
    max-width: 570px;
    display: flex;
    margin-right: 30px;

    @include max-width($sm) {
      flex-wrap: wrap;
    }
  }

  &__column {
    width: 100%;
    
    &:first-child {
      margin-right: 30px;

      @include max-width($lg) {
        margin-right: 0;
      }
    }

    @include max-width($lg) {
      margin-bottom: 20px;
    }
  }

  @include max-width($lg) {
    text-align: center;
  }
}

.copyright {
  @include truncate-text(350px);

  @include max-width($md) {
    margin: 0 auto;
    white-space: normal;
  }
}

.contacts {
  &__title {
    text-transform: uppercase;
  }

  &__item {
    @include truncate-multiline-text(2);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: inherit;
  }
}

.column {
  &__heading {
    @include footer-heading();

    @include max-width($lg) {
      margin: 0 auto 15px auto;
    }
  }

  &__item {
    margin-bottom: 10px;
    @include truncate-text(230px);

    @include max-width($lg) {
      margin: 0 auto 10px auto;
    }
  }
}

.subscribe {
  &__heading {
    @include footer-heading();
  }  

  &__text {
    margin-bottom: 36px;
    max-width: 240px;
    @include truncate-multiline-text(2);
  }
}

.subscribe-form {
  display: flex;

  &__input {
    padding: 8px 8px 8px 16px;
    background-color: $bg-color-2;
    border: none;
    transition: background-color 0.3;
    max-width: 170px;

    &::placeholder {
      @include font('DMSans', 400, 12px);
      color: #234969;
    }

    &:focus {
      background-color: $bg-color;
    }
  }

  &__btn {
    border: 0;
    background-color: $color-3;
    color: #fff;
    padding: 7px 18px 9px;
    @include font('DMSans', 400, 14px);
    max-width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    @include truncate-text(102px);

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;
    } 

    &:focus {
      background-color: $focus-color;
    } 
  }
}
