.footer {
  &__wrapper {
    padding: 80px 0 60px;
    border-bottom: 1px solid #dae4e9;
    @include font('Rubik', 400, 14px, normal);
    line-height: 1.6;
    color: $footer-text-color;
  }

  &__address {
    max-width: 215px;
    margin-right: 84px;
    float: left;
    font-style: normal;
  }

  &__logo {
    display: block;
    margin-bottom: 27px;
  }

  &__sections {
    width: 100%;
    max-width: 570px;
    display: flex;
  }

  &__sections-item {
    width: 100%;
    
    &:first-child {
      margin-right: 30px;
    }
  }

  &__menu-wrapper {
    @include font('Rubik', 400, 14px);
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    @include truncate-text(80px);
    color: $footer-text-color;
  }

  &__menu-item:not(:last-child) {
    margin-right: 18px;
    padding-right: 10px;
    border-right: 2px solid $footer-text-color;
  }

  &__menu-link {
    color: inherit;
  }

  &__menu-copyright {
    @include truncate-text(350px);
  }

  &__link {
    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: #4d4c4c;
    }

    &:active {
      color: #000;
    }

    &:focus {
      color: #414040;
    }
  }

  &__links-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
  }
}

.address {
  &__title {
    text-transform: uppercase;
  }

  &__part {
    @include truncate-multiline-text(2);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: inherit;
  }
}

.section {
  &__heading {
    text-transform: uppercase;
    @include font('DMSans', 700, 16px);
    color: #1f2044;
    margin-bottom: 18px;
    display: block;
    @include truncate-text(230px);
  }

  &__item {
    margin-bottom: 10px;
    @include truncate-text(230px);
  }
}

.subscribe {
  &__text {
    margin-bottom: 36px;
    max-width: 240px;
    @include truncate-multiline-text(2);
  }

  margin: 0 auto;
}

.subscribe-form {
  &__input {
    padding: 8px;
    background-color: $bg-color-2;
    border: none;
    padding-right: 0;
    transition: background-color 0.3;
    float: left;

    &::placeholder {
      @include font('DMSans', 400, 12px);
      color: #234969;
    }

    &:focus {
      background-color: $bg-color;
    }
  }

  &__btn {
    border: 0;
    background-color: $color-3;
    color: #fff;
    padding: 7px 18px 9px;
    @include font('DMSans', 400, 14px);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: -4px;
    @include truncate-text(102px);

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;
    } 

    &:focus {
      background-color: $focus-color;
    } 
  }
}
