<!-- вынести в extraClasses -->
<article class="product-card products-gallery__card">
  <a class="product-card__link" href="#"></a>

  <img class="product-card__image" src=@@imagePath alt="Product image">
  <div class="product-card__wrapper">
    <h3 class="product-card__name">@@name</h3>
    <span class="product-card__currency">$</span>
    <span class="product-card__price">@@price</span>
  </div>

  <ul class="user-interact">
    <li class="user-interact__item">
        <span class="sr-only">Search icon</span>
        <svg class="search-icon icon">
          <use xlink:href="@@webRoot/images/sprite.svg#search"></use>
        </svg>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Cart icon</span>
        <svg class="cart-icon icon">
          <use xlink:href="@@webRoot/images/sprite.svg#cart"></use>
        </svg>
      </a>
    </li>

    <li class="user-interact__item">
      <a class="user-interact__link" href="#">
        <span class="sr-only">Heart icon</span>
        <svg class="heart-icon icon">
          <use xlink:href="@@webRoot/images/sprite.svg#heart"></use>
        </svg>
      </a>
    </li>
  </ul>
</article>