.insights {
  &__title-wrapper {
    padding-top: 112px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 252px;
  }

  &__title {
    margin-bottom: 40px;
    display: inline-block;
  }
}

.view-all {
  &__wrapper {
    position: relative;
    @include underline(#000);
  }  

  &__link {
    line-height: 3.6;
    color: #262626;
    transition: color 0.2s, border-bottom 0.8s;
  }

  &__text {
    float: left;
    margin-right: 18px;
    @include truncate-text(100px);
  }

  &__icon {
    width: 6px;
    height: 11px;
  }
}

.calendar-icon,
.user-icon {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  fill: #222933;
}

.insight-cards {
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 370px;
    margin-top: -250px;
    border-radius: 5px;
    overflow: hidden;
  }
}

.insight-card {
  &__content {
    position: relative;
    background-color: #fff;
    padding: 35px 30px 21px 30px;
  }

  &__news {
    margin-bottom: 20px;
    margin-top: -53px;
    text-transform: uppercase;
    @include font('Poppins', 700, 14px);
    padding: 7px 30px;
    background-color: $color-3;
    color: #fff;
    border-radius: 25px;
    @include truncate-text(102px);
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $active-color;
    }
  }

  &__description {
    padding-bottom: 12px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    @include font('DMSans', 500, 18px);
    line-height: 1.2;

    & > p {
      height: 63px; // т.к. на карточках описание занимает разное число строк
      @include truncate-multiline-text(3);
    }
  }

  &__signature {
    display: flex;
  }

  &__image {
    @include fixed-image-size(370px, 250px, cover);
  }

  &__date {
    margin-right: 27px;
    @include truncate-text(125px);
  }
  
  &__user {
    @include truncate-text(100px);
  }

  &__date,
  &__user {
    @include font('Rubik', 400, 12px);
    text-transform: uppercase;
    line-height: 2;
  }
}

.insights-gallery {
  background-color: $bg-color-2;
  height: 185px;
}
