<section class="insights">
  <div class="container">
    <div class="insights__title-wrapper">
      <h2 class="title insights__title title--left">Our Insights & Articles</h2>

      <div class="view-all">
        <a href="" class="view-all__link">
          <div class="view-all__wrapper">
            <span class="view-all__text">View All</span>
            <svg class="view-all__icon">
              <use xlink:href="@@webRoot/images/sprite.svg#view-all-arrow"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="insights-gallery">
    <div class="container">
      <ul class="insight-cards">
        <li class="insight-cards__item">
          @@include('insight-card.html', {
            'imagePath': '@@webRoot/images/main-page/insights/1.jpg',
            'description': 'Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam',
            'date': '28 SEPTEMBER, 2020',
            'user': 'by admin'
          })
        </li>
        <li class="insight-cards__item">
          @@include('insight-card.html', {
            'imagePath': '@@webRoot/images/main-page/insights/2.jpg',
            'description': 'Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore',
            'date': '28 SEPTEMBER, 2020',
            'user': 'by admin'
          })
        </li>
        <li class="insight-cards__item">
          @@include('insight-card.html', {
            'imagePath': '@@webRoot/images/main-page/insights/3.jpg',
            'description': 'Rncididunt ut labore et dolore magna aliqua. Ut enim',
            'date': '28 SEPTEMBER, 2020',
            'user': 'by admin'
          })
        </li>
      </ul>
    </div>
  </div>
  
</section>