<article class="insight-card">
  <h3 class="sr-only">Insight card</h3>
  <a class="insight-card__link" href="#">
    <img class="insight-card__image" src=@@imagePath alt="Insight card image">
  </a>

  <div class="insight-card__content">
    <a class="insight-card__news" href="#">News</a>
    <div class="insight-card__description">
      <p>@@description</p>
    </div>
    
    <div class="insight-card__signature">
      <div class="insight-card__date-wrapper">
        <span class="sr-only">Calendar icon</span>
        <svg class="calendar-icon">
          <use xlink:href="@@webRoot/images/sprite.svg#calendar"></use>
        </svg>
        <time class="insight-card__date">@@date</time>
      </div>

      <div class="insight-card__user-wrapper">
        <span class="sr-only">User icon</span>
        <svg class="user-icon">
          <use xlink:href="@@webRoot/images/sprite.svg#user"></use>
        </svg>
        <span class="insight-card__user">@@user</span>
      </div>
    </div>
  </div>
</article>