<ul class="product-filter">
  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=all>All</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=.category-furnitures>Furnitures</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=.category-chairs>Chairs</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=.category-lighting>Lighting</button>
  </li>

  <li class="product-filter__item">
    <button class="product-filter__btn" type="button" data-filter=.category-decor>Decor</button>
  </li>
</ul>