.product-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  @include max-width($md) {
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  &__item {
    &:not(:last-child){
      margin-right: 30px;
    }

    @include max-width($md) {
      margin-bottom: 15px;
    }
  }

  &__btn {
    color: #8b8b8b;
    transition: color 0.3s;
    
    &:focus {
      color: #464545;
    }

    &:hover {
      color: #575656;
    }

    &:active {
      color: #272626;
    }
  }


}

.mixitup-control-active {
  color: $color-6;
}