.product-card {
  &__image {
    margin: 0 auto;
    margin-bottom: 74px;
    @include fixed-image-size(186px, 195px, contain);
  }

  &__name {
    margin-bottom: 10px;
    @include font('DMSans', 500, 16px);
  }

  &__currency,
  &__price {
    color: $color-3;
  }
}