.product-card {
  &__image {
    margin: 0 auto;
    margin-bottom: 74px;
    @include fixed-image-size(186px, 195px, contain);
  }

  &__name {
    margin-bottom: 10px;
    @include fonts('DMSans', 500);
    font-size: 16px;
  }

  &__currency,
  &__price {
    color: $color-3;
  }
}