.product-card {
  &__image {
    margin: 0 auto;
    margin-bottom: 74px;
    width: 186px;
    height: 195px;
    object-fit: contain;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__currency,
  &__price {
    color: $color-3;
  }
}