<footer class="footer">
  <div class="container">

    <div class="footer-wrapper">
      <address class="address footer__address">
        @@include('../logo/logo.html', { 'extraClasses': 'header__logo' })
        <div class="address__street">
          <span class="address__street-key">Address:</span>
          <span class="address__street-value">4772 Wines Lane Houston, TX 77032</span>
        </div>
        <div class="address__phone">
          <span class="address__phone-key">Telephone:</span>
          <span class="address__phone-value">
            <span class="phone-prefix">+</span>
            832-347-5843
          </span>
        </div>
        <div class="address__email">
          <span class="address__email-key">Email:</span>
          <span class="address__email-value">contact@Glee.com</span>
        </div>
      </address>
    </div>

  </div>
</footer>