<footer class="footer">
  <div class="container">

    <div class="footer__wrapper">
      <address class="address footer__address">
        @@include('../logo/logo.html', { 'extraClasses': 'footer__logo' })
        <div class="street address__street address__part">
          <span class="street__title address__title">Address:</span>
          <span class="street__value">4772 Wines Lane Houston, TX 77032</span>
        </div>
        <div class="phone address__phone address__part">
          <span class="phone__title address__title">Telephone:</span>
          <span class="phone__value">
            <span class="phone__prefix">+</span>
            832-347-5843
          </span>
        </div>
        <div class="email address__email address__part">
          <span class="email__title address__title">Email:</span>
          <span class="email__value">contact@Glee.com</span>
        </div>
      </address>
    </div>

  </div>
</footer>