<footer class="footer">
  <div class="container">

    <div class="footer__wrapper">
      <address class="address footer__address">
        <a class="logo footer__logo" href="#">
  <img class="logo__img" src="../../../images/logo.png" alt="Glee logo" width="146" height="39">
</a>

        <div class="address__part">
          <span class="address__title">Address:</span>
          <span class="address__value">4772 Wines Lane Houston, TX 77032</span>
        </div>

        <div class="address__part">
          <span class="address__title">Telephone:</span>
          <a class="address__link address__value" href="tel:8323475843">
            + 832-347-5843
          </a>
        </div>

        <div class="address__part">
          <span class="address__title">Email:</span>
          <a class="address__link address__value" href="mailto:contact@Glee.com">contact@Glee.com</a>
        </div>
      </address>

      <div class="footer__links-wrapper">
        <ul class="footer__sections">
          <li class="section footer__sections-item">
            <span class="section__heading">Services</span>
            <ul class="section__list">
              <li class="section__item">
                <a class="section__link footer__link" href="#">About Us</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Return Policy</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Our Blog</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Contact Us</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Terms & Condition</a>
              </li>
            </ul>
          </li>
  
          <li class="section footer__sections-item">
            <span class="section__heading">Account</span>
            <ul class="section__list">
              <li class="section__item">
                <a class="section__link footer__link" href="#">Your Account</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Checkout</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Login</a>
              </li>
              <li class="section__item">
                <a class="section__link footer__link" href="#">Register</a>
              </li>
            </ul>
          </li>
        </ul>
  
        <div class="section subscribe">
          <span class="section__heading">Newsletter</span>
          <div class="subscribe__text">
            <p>
              Subscribe by our newsletter and get update protidin.
            </p>
          </div>
          <form class="subscribe-form">
            <label class="subscribe-form__label" for="subscribe-input"></label>
            <input class="subscribe-form__input" id="subscribe-input" type="email" name="subscribe-input" placeholder="Email address">
  
            <label class="subscribe-form__label" for="subscribe-submit"></label>
            <input class="subscribe-form__btn" id="subscribe-submit" type="submit" name="subscribe-submit" value="Subscribe">
          </form>
        </div>
      </div>

      

    </div>

    <div class="footer__menu">
      <div class="footer__menu-wrapper">
        <span class="copyright footer__menu-copyright">
          <span class="copyright-mark">©</span>
          <span class="copyright-text">2020 CopyRight Example. All rights reserved.</span>
        </span>
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link footer__link">Home</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link footer__link">About</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link footer__link">Blog</a>
          </li>
          <li class="footer__menu-item">
            <a href="#" class="footer__menu-link footer__link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>