.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  @include font('DMSans', 700, 16px);
  line-height: 1.3;
  background-color: #fff;
  color: $primary-color;
}

.body.body--lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--large {
    max-width: 1800px;
  }
}

.title {
  font-size: 36px;
  color: $color-6;
  text-align: center;
  @include truncate-text(100%);

  &--left {
    text-align: left;
  }

  @include max-width($md) {
    font-size: 26px;
  }
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  transition: fill 0.3s;
}

.arrow-link {
  &__text {
    @include truncate-text(110px);
  }
}

.arrow-right {
  position: absolute;
  content: '';
  width: 23px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 17px;

  &--light {
    fill: #fff;
  }

  &--dark {
    fill: #436372;
  }
}
