$primary-color: #243f4d; /* главный заголовок, цифры в правом верхнем углу, цифры на главное слайдере, название товара, описание товара */ 

$moderate-blue: #436372; /* цвет пунктов меню, текст под главным заголовком, кнопка View more*/

$user-interact-active: #436070;

//TODO Change variables names

$color-3: #a3bbc8; /* цвет кнопки, цвет иконок под header, цена товара */
$color-4: #414141; /* цвет текста рядом с иконками под header */
$color-5: #585858; /* цвет текста рядом с иконками под header */
$color-6: #191919; /* цвет заголовковб, активный пункт фильтра */
$color-7: #edf1f4;
$bg-color: #fcd7b6;
$bg-color-2: #fef7f0;
$bg-color-3: #f9b273;

$dark-icon-color: #2e4652;
$blue-icon-color: #a3bbc8;
$light-icon-color: #fff;

$hover-color: #74b9df;
$active-color: #2a88bb;

$footer-text-color: #7b7b7b;

$user-nav-border-radius: 50px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

%icon-active-effect {
  fill: #b6b3b3;
}

%icon-focus-effect {
  fill: #d1cece;
}

%icon-hover-effect {
  fill: #fff;
}
