@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding-top: 48px;

  &__logo {
    padding-top: 3px;
  }
}

.logo {
  &__img {
    width: 146px;
    height: 39px;
    object-fit: contain;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  
  &__list {
    display: flex;
    padding-top: 10px;
    padding-left: 110px;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    @extend %rubik-500;
    font-size: 15px;
    color: $moderate-blue;
    position: relative;
    padding-bottom: 3px;
    transition: color 0.3s;
    
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '';
      border-bottom: 1px solid $primary-color;
      transition: width 0.3s;
    }
  
    &:hover::after {
      width: 100%;
    }
  
    &:hover {
      color: $primary-color;
    }
  }
}

.search-form {
  position: relative;
  margin-right: 22px;

  &__btn{
    display: none;
  }

  &__btn:checked ~ .search-form__input {
    opacity: 1;
  }

  &__label {
    border-radius: 50%;
    display: block;
    padding: 25px;
    background-image: url('../images/icons/search.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #edf1f4;
    transition: background-color 0.3s;

    &:hover {
      cursor: pointer;
      background-color: #a3bbc8;
    }
  }

  &__input {
    opacity: 0;
    border-radius: 30px;
    padding: 14px;
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    top: 0;
    border: 1px solid #edf1f4;
    transition: opacity 0.3s;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__wrapper {
    background-color: #fcd7b6;
    height: 100%;
    border-radius: 50px;
    display: flex;
    margin-right: 18px;
    padding: 5px 0;
  }

  &__link {
    position: relative;
    padding: 15px 33px 0 33px;

    &:first-child {
      border-right: 1px solid #fde7d3;
    }

    &:hover > svg {
      fill: $color-3;
    }
  }

  &__icon {
    fill:#2e4652;
    transition: fill 0.3s;
  }

  &__apps {
    border-radius: 50%;
    background-color: #a3bbc8;
    padding: 25px;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-5;
    }
  }

  &__apps::before {
    content: '';
    position: absolute;
  }

  &__apps::before {
    transform: translate(-50%, -50%);
  }

  &__apps::before {
    width: 20px;
    height: 21px;
    background-image: url('../images/icons/dots.png');
  }

  &__count {
    @extend %dm-sans-400;
    font-size: 10px;
    line-height: 1.7;
    position: absolute;
    top: 8px;
    right: 25px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
  }
}

.slider {
  &__item {
    padding-top: 220px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    max-width: 415px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__description {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 57px;
  }

  &__link {
    @extend %rubik-500;
    padding: 21px 100px 21px 30px;
    background-color: $color-3;
    position: relative;
    color: #fff;
    font-size: 15px;
    transition: background-color 0.3s;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      width: 23px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
    }

    &:hover {
      background-color: #74b9df;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  
  // установить ширину 100% вместо left и transform
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;

  // оформить по бэм

  li {
    z-index: 1;
    padding: 0 8px;

    button {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #fde3cc;
      @extend %rubik-500;
      font-size: 11px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f5a560;
      }
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.feature {
  &__list {
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
    padding: 46px 0 37px;
  }

  &__item {
    position: relative;
    max-width: 265px;
    margin: 0 auto;
    padding-left: 60px;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: -25px;
    }

    &--icon1::before {
      background-image: url('../images/icons/support.svg');
      width: 51px;
      height: 53px;
    }

    &--icon2::before {
      background-image: url('../images/icons/delivery.svg');
      width: 54px;
      height: 36px;
    }

    &--icon3::before {
      background-image: url('../images/icons/payment.svg');
      width: 54px;
      height: 52px;
    }
  }

  &__heading {
    font-size: 18px;
  }

  &__description {
    @extend %dm-sans-400;
    font-size: 16px;
    line-height: 2;
  }
}

.products {
  padding-top: 65px;

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__item {
    // разобраться с размерами
    position: relative;
    max-width: 270px;
    width: 270px;
    min-height: 378px;
    padding-top: 24px;
    padding-bottom:35px;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-bottom: 40px;

    // margin-left: 30px; убрать

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item--active .user-interact {
    display: flex;
  }

  &__images {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    // margin-left: -30px; убрать
  }

  &__image {
    margin: 0 auto;
    margin-bottom: 63px;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__currency,
  &__price {
    color: $color-3;
  }
}

.filter {
  &__item:not(:first-child){
    // margin-left:30px; убрать
  }

  &__btn {
    color: $filter-btn;
    transition: color 0.3s;

    &:hover {
      color: #575656;
    }
  }
}

.user-interact {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__item {
    cursor: pointer;
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:nth-child(odd) {
      background-color: #fff;

      &:hover {
        background-color: #fde3cc;
      }
    }

    &:nth-child(even) {
      background-color: $color-3;
      margin: 0 15px;

      &:hover {
        background-color: $primary-color;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);  
    }
  }

  &__search::before {
    width: 20px;
    height: 20px;
    background-image: url('../images/icons/search-2.svg');
  }

  &__cart::before {
    width: 22px;
    height: 20px;
    background-image: url('../images/icons/cart-2.svg');
  }

  &__like::before {
    width: 22px;
    height: 18px;
    background-image: url('../images/icons/heart-2.svg');
  }
}

.mixitup-control-active {
  color: $color-6;
}
