@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding-top: 48px;

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
  }

  &__logo {
    padding-top: 3px;
  }
}

.menu {
  &__list {
    display: flex;
    margin-top: 10px;
    margin-left: 145px;
  }

  &__item:not(:first-child) {
    margin-left: 35px;
  }

  &__link {
    color: $moderate-blue;
    @extend %rubik-500;
    font-size: 15px;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__search-wrapper {
    border-radius: 50%;
    background-color: #edf1f4;
    padding: 25px;
    cursor: pointer;
  }

  &__link {
    position: relative;
    background-color: #fcd7b6;
  }

  &__heart-link {
    border-right: 1px solid #fde7d3;
    border-radius: 50px 0 0 50px;
    margin-left: 18px;
  }

  &__cart-link {
    border-radius: 0 50px 50px 0;
  }

  &__heart-link,
  &__cart-link {
    padding: 25px 45px;
  }

  &__apps-btn {
    border-radius: 50%;
    background-color: #a3bbc8;
    padding: 25px;
    margin-left: 18px;
  }

  &__search-wrapper::before,
  &__link::before,
  &__apps-btn::before {
    content: '';
    position: absolute;
  }

  &__link::before {
    height: 17px;
    bottom: 13px;
  }

  &__search-wrapper::before,
  &__apps-btn::before {
    transform: translate(-50%, -50%);
  }

  &__search-wrapper::before {
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/search.png');
  }

  &__apps-btn::before {
    width: 20px;
    height: 21px;
    background-image: url('../images/icons/dots.png');
  }

  &__heart-link::before {
    width: 18px;
    right: 27px;
    background-image: url('../images/icons/heart.png');
  }

  &__cart-link::before {
    width: 19px;
    left: 27px;
    background-image: url('../images/icons/cart.png');
  }

  &__heart-count,
  &__cart-count {
    position: absolute;
    width: 16px;
    height: 16px;
    @extend %dm-sans-400;
    font-size: 10px;
    line-height: 1.7;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    top: 10px;
  }

  &__heart-count {
    right: 20px;
  }

  &__cart-count {
    right: 33px;
  }
}

.slider {
  &__item {
    padding-top: 220px;
    padding-bottom: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    max-width: 415px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 0.93;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__description {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 57px;
  }

  &__link {
    padding: 20px 100px 20px 25px;
    background-color: $color-3;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/arrow-right.svg');
      background-repeat: no-repeat;
      width: 23px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;


  li {
    z-index: 1;
    padding: 0 8px;

    button {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #fde3cc;
      @extend %rubik-500;
      font-size: 11px;
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.feature {
  &__list {
    display: flex;
    justify-content: space-between;
    background-color: #fef7f0;
    padding: 46px 0 37px;
  }

  &__item {
    position: relative;
    max-width: 265px;
    margin: 0 auto;
    padding-left: 60px;

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      left: -25px;
    }

    &--icon1::before {
      background-image: url('../images/icons/support.svg');
      width: 51px;
      height: 53px;
    }

    &--icon2::before {
      background-image: url('../images/icons/delivery.svg');
      width: 54px;
      height: 36px;
    }

    &--icon3::before {
      background-image: url('../images/icons/payment.svg');
      width: 54px;
      height: 52px;
    }
  }

  

  &__heading {
    font-size: 18px;
  }

  &__description {
    @extend %dm-sans-400;
    font-size: 16px;
    line-height: 2;
  }
}


@import 'media';

