.header {
  padding-top: 48px;

  @include r($xl) {
    padding-top: 32px;
  }

  @include r($md) {
    padding-top: 32px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
  
  &__list {
    display: flex;
    padding-left: 145px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    @include font('Rubik', 500, 15px);
    @include truncate-text(90px);
    color: $moderate-blue;
    position: relative;
    transition: color 0.3s;
    outline-color: $moderate-blue;
    
    @include underline($primary-color);

    &:active {
      color: #23353d;
    }

    &:focus {
      color: #142933;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.search-form {
  position: relative;
  margin-right: 20px;

  &__btn{
    display: none;
  }

  &__btn:checked ~ .search-form__input {
    opacity: 1;
  }

  &__label {
    border-radius: 50%;
    display: block;
    padding: 25px;
    background-color: $color-7;
    transition: background-color 0.3s;
    cursor: pointer;

    &:active {
      background-color: $user-interact-active;
    }

    &:focus {
      background-color: #50a4d1;
    }

    &:hover {
      background-color: $color-3;
    }

    &:active > .icon {
      @extend %icon-active-effect;
    }

    &:focus > .icon {
      @extend %icon-focus-effect;
    }

    &:hover > .icon {
      @extend %icon-hover-effect;
    }
  }

  &__input {
    opacity: 0;
    border-radius: 30px;
    padding: 14px;
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    top: 0;
    border: 1px solid $color-7;
    transition: opacity 0.3s, border-color 0.3s;

    &:focus {
      border-color: $color-3;
    }
  }
}

.search-icon,
.cart-icon-image,
.heart-icon-image {
  fill: yellow;
  width: 30px;
  height: 30px;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__wrapper {
    height: 100%;
    display: flex;
    margin-right: 18px;
  }

  &__link {
    position: relative;
    padding: 20px 33px 0 33px;
    background-color: $bg-color;
    transition: background-color 0.3s;
    
    &:first-child {
      border-top-left-radius: $user-nav-border-radius;
      border-bottom-left-radius: $user-nav-border-radius;

      &::after {
        @include divider();
        right: 0;
      }
    }

    &:last-child {
      border-top-right-radius: $user-nav-border-radius;
      border-bottom-right-radius: $user-nav-border-radius;

      &::before {
        @include divider();
        left: 0;
      }
    }

    &:active {
      background-color: #fccba0;;
    }

    &:focus {
      background-color: #fcbb82;;
    }

    &:hover {
      background-color: $bg-color-3;
    }

    &:active > svg {
      fill: #c4d7e0;
    }

    &:focus > svg {
      fill: #a4bdca;
    }

    &:hover > svg {
      fill: #fff;
    }
  }

  &__icon {
    fill: $dark-icon-color;
    transition: fill 0.3s;
  }

  &__apps {
    border-radius: 50%;
    background-color: $color-3;
    padding: 25px;
    transition: background-color 0.3s;

    &:active {
      background-color: #add0e2;
    }

    &:focus {
      background-color: #92b1c2;
    }

    &:hover {
      background-color: #7095a9;
    }

    &::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      width: 21px;
      height: 22px;
      background-image: url('../images/icons/apps.svg');
    }
  }

  &__count {
    @include font('DMSans', 400, 10px);
    line-height: 1.7;
    position: absolute;
    top: 12px;
    right: 25px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
  }
}