.header {
  padding-top: 49px;
  margin-bottom: 46px;

  &__logo {
    position: relative;
    z-index: 1003;
  }

  @include max-width($lg) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    padding: 15px 0;
    margin-bottom: 15px;

    &::before {
      position: absolute;
      content: '';
      background-color: #fff;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1002;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__list {
    display: flex;
    padding-left: 145px;
    transition: left 0.3s;

    @include max-width($xl) {
      padding-left: 0;
    }

    @include max-width($lg) {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: fixed;
      z-index: 1000;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      background-color: $bg-color-3;
      padding: 100px 30px 30px 30px;
      overflow: auto;
    }
  }

  &__list--active {
    left: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;

      @include max-width($lg) {
        margin-right: 0;
      }
    }

    @include max-width($lg) {
      padding-top: 50px;
      font-size: 34px;
      color: #fff;
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    @include font('Rubik', 500, 15px);
    @include truncate-text(90px);
    @include underline($primary-color);

    color: $moderate-blue;
    position: relative;
    transition: color 0.3s;
    outline-color: $moderate-blue;

    &:active {
      color: #23353d;
    }

    &:focus {
      color: #142933;
    }

    &:hover {
      color: $primary-color;
    }

    @include max-width($lg) {
      font-size: 34px;
      color: #fff;
      @include truncate-text(100%);
    }
  }

  &__btn {
    display: none;

    position: relative;
    z-index: 1002;

    width: 36px;
    height: 36px;

    &:hover .menu__icon,
    &:hover::before,
    &:hover::after {
      background-color: #365766;
    }

    &:focus .menu__icon,
    &:focus::before,
    &:focus::after {
      background-color: #294e5f;
    }

    &:active .menu__icon,
    &:active::before,
    &:active::after {
      background-color: #1b4558;
    }

    & .menu__icon {
      top: 50%;
      transform: translate(0, -50%);
    }

    & .menu__icon,
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 36px;
      height: 4px;
      background-color: $moderate-blue;
      transition: background-color 0.3s, transform 0.3s;
    }

    &::before {
      top: 3px;
    }

    &::after {
      bottom: 3px;
    }

    &--active .menu__icon {
      visibility: hidden;
    }

    &--active::before {
      transform: rotate(45deg);
      top: 15px;
    }

    &--active::after {
      bottom: 17px;
      transform: rotate(-45deg);
    }

    @include max-width($lg) {
      display: block;
    }
  }
}

.search-form {
  position: relative;
  margin-right: 20px;

  &__btn{
    display: none;
  }

  &__btn:checked ~ .search-form__input {
    opacity: 1;
  }

  &__label {
    border-radius: 50%;
    display: block;
    padding: 25px;
    background-color: $color-7;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $color-3;
    }

    &:active {
      background-color: $user-interact-active;
    }

    &:focus {
      background-color: #50a4d1;
    }

    &:active .icon {
      @extend %icon-active-effect;
    }

    &:focus .icon {
      @extend %icon-focus-effect;
    }

    &:hover .icon {
      @extend %icon-hover-effect;
    }
  }

  &__input {
    opacity: 0;
    border-radius: 30px;
    padding: 14px;
    position: absolute;
    transform: translateX(-100%);
    left: -10px;
    top: 0;
    border: 1px solid $color-7;
    transition: opacity 0.3s, border-color 0.3s;

    &:focus {
      border-color: $color-3;
    }
  }

  @include max-width($xl) {
    display: none;
  }
}

.search-icon,
.cart-icon,
.heart-icon {
  fill: $blue-icon-color;
  width: 20px;
  height: 20px;
}

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__wrapper {
    height: 100%;
    display: flex;
    margin-right: 18px;
  }

  &__link {
    position: relative;
    padding: 20px 33px 0 33px;
    background-color: $bg-color;
    transition: background-color 0.3s;
    
    &:first-child {
      border-top-left-radius: $user-nav-border-radius;
      border-bottom-left-radius: $user-nav-border-radius;

      &::after {
        @include divider();
        right: 0;
      }
    }

    &:last-child {
      border-top-right-radius: $user-nav-border-radius;
      border-bottom-right-radius: $user-nav-border-radius;

      &::before {
        @include divider();
        left: 0;
      }
    }

    &:hover {
      background-color: $bg-color-3;
    }

    &:active {
      background-color: #fccba0;;
    }

    &:focus {
      background-color: #fcbb82;;
    }

    &:active > svg {
      fill: #c4d7e0;
    }

    &:focus > svg {
      fill: #a4bdca;
    }

    &:hover > svg {
      fill: #fff;
    }
  }

  &__icon {
    fill: $dark-icon-color;
    transition: fill 0.3s;
    width: 22px;
    height: 20px;
  }

  &__apps {
    border-radius: 50%;
    background-color: $color-3;
    padding: 25px;
    transition: background-color 0.3s;

    &:active {
      background-color: #add0e2;
    }

    &:focus {
      background-color: #92b1c2;
    }

    &:hover {
      background-color: #7095a9;
    }

    &::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      width: 21px;
      height: 22px;
      background-image: url('../images/icons/apps.svg');
    }

    @include max-width($xl) {
      display: none;
    }
  }

  &__count {
    @include font('DMSans', 400, 10px);
    line-height: 1.7;
    position: absolute;
    top: 12px;
    right: 25px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
  }

  @include max-width($lg) {
    display: none;
  }
}
